.center {
  text-align: center;
}

.user-link {
  color: rgb(121, 130, 128);
}

.user-link:hover {
  text-decoration: none;
  color: rgb(16, 45, 87);
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.right-nav {
  margin-top: 10px;
}
