.center {
  text-align: center;
}

.user-link {
  color: #fff;
  &:hover {
    text-decoration: none;
    color: #a3a3a7;
  }
}

.right-nav {
  margin-top: 10px;
}

.navigation {
  background-color: #3f8bcb;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
    color: #a3a3a7;
  }
}

#left-buttons {
  color: #fff;
  &:hover {
    color: #a3a3a7;
  }
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
}
